// main: ../style.less

.addition {
    background: #F6F6F6;
    padding: 5rem 0 6.25rem;

    .addition_inner {
        display: flex;
        justify-content: center;
        align-items: center;

        .addition_inner_img {
            margin-right: 2rem;
        }

        .addition_info {
            width: 24rem;

            .addition_info_title {
                width: 18.75rem;
                font-family: 'Georgia';
                font-size: 2.18rem;
                line-height: 120%;
                letter-spacing: 0.06em;
                color: #545454;
                margin-bottom: 1.4rem;
            }

            .addition_info_subtitle {
                font-family: 'Georgia';
                font-size: 0.935rem;
                line-height: 130%;
                letter-spacing: 0.06em;
                color: #545454;
                margin-bottom: 1.3rem;
            }

            .addition_info_card {
                display: inline-flex;
                align-items: center;
                background: #F1CDB3;
                border-radius: 8px;
                padding: 0.592rem 0.88rem;
                margin-bottom: 1.28rem;
                letter-spacing: 0.08em;


                .card_img {
                    margin-right: 0.935rem;
                }

                .card_number {
                    a {
                        text-decoration: none;
                        font-family: 'Georgia';
                        font-size: 1.25rem;
                        color: #545454;
                    }
                }
            }

            .addition_info_desc {
                font-family: 'Arial';
                font-style: italic;
                line-height: 1.12rem;
                font-size: 0.75rem;
                color: #B2B2B2;
            }
        }
    }
}